ac-comphist.dat
\#*
*conflicted*
*~
.last-package-update-day
*.bak
session.*
\#*
*.sqlite
*.sql
*.tar.*
tramp
url/cookies

# Directories
.cache/
.python-environments/
auto-save-list/
el-easydraw/
el-get/
elpa/
emojis/
eply/
persist/
request/
request/curl-cookie.jar
transient/
url/
var/
tmp/
eln-cache/
tree-sitter/

# Private or repo specific files files
bookmarks
custom.el
history
mastodon.plstore
org-roam.db
projectile-bookmarks.eld
projectile.cache
recentf

# byte-compiled files
*.elc
