ac-comphist.dat
\#*
*conflicted*
*~
.last-package-update-day
*.bak
session.*
\#*
*.sqlite
*.tar.*
tramp
url/cookies

# Directories
.python-environments/
elpa/
emojis/
el-get/
transient/
.cache/
el-easydraw/
request/curl-cookie.jar
auto-save-list/
request/
url/

# Private files
mastodon.plstore
org-roam.db